@model BlogApp.BLL.ViewModels.Article.EditArticleViewModel

<div class="container-page">
    <h2 class="title-margin">Редактирование статьи</h2>
    <form method="post" asp-controller="Article" asp-action="EditArticle">
        <div asp-validation-summary="All" class="text-danger"></div>
        
        @* Тут храним id и PostDate, иначе потеряем *@
        <input class="form-control" asp-for="Id" hidden />
        <input class="form-control" asp-for="PostDate" hidden />

        <div style="margin-bottom: 5px">
            <label asp-for="Title"></label><br />
            <input class="form-control" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        
        @* TODO Не забыть про теги! *@

        <div style="margin-bottom: 5px">
            <label asp-for="Description"></label><br />
            <textarea class="form-control" id="editor" rows="3" value="" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div style="margin-bottom: 5px">
            <label asp-for="Content"></label><br />
            <textarea class="form-control" id="editor" value="" asp-for="Content"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div>
            <input class="btn btn-sm btn-primary" type="submit" value="Сохранить" onclick="" />
        </div>
        <p>
            <a method="get" asp-controller="Article" asp-action="ShowAllArticles">Перейти к списку всех статей </a>
        </p>
    </form>
</div>